
	<h1 id="form-header">Login</h1>
	<br>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "E-mail" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Lozinka" %>
      <%= f.password_field :password %>
	<br/>

      <%= f.submit "Login", class: "btn btn-large" %>
    <% end %>

    <p>New user? <%= link_to "Register!", signup_path %></p>

